
body{
    font-family: poppings;
    background-color:#2F303A;
    min-height:400px;
    width: 100%;
  
  }
 

/*.form{
    background-color: #202027;
    margin: 4em;
    margin: 3em;
    padding: 2em;
    border-radius: 15px;
    width: 25em;

}*/
 


 






.section h2{
    display:flex;
    height: fit-content;
    font-size: 6em;
    font-family: poppings;
}

