
body{
    font-family: poppings;
    background-color:#2F303A;
}





.micro{
    background-color: #202027;
    padding: 0.5vh;
    margin: 0.2vh;
} 

.img-charts, .img-albums, .img-more{
    width: 8vh;
    height:8vh;
    justify-content: center;
}